In [2]:
import pandas as pd
import numpy as np

In [3]:
# constants

PATH: str = "../data/spadl_format/"
RANDOM_STATE: int = 42

In [4]:
df: pd.DataFrame = pd.read_csv(f"{PATH}England.csv", index_col=0)
df.head(10)

,game_id,period_id,time_seconds,team_id,player_id,start_x,start_y,end_x,end_y,original_event_id,bodypart_id,type_id,result_id,action_id,type_name,result_name,bodypart_name,player_name
0,2499719,1,2.758649,1609,25413,51.45,34.68,32.55,14.96,177959171.0,0,0,1,0,pass,success,foot,A. Lacazette
1,2499719,1,4.946850,1609,370224,32.55,14.96,53.55,17.00,177959172.0,0,0,1,1,pass,success,foot,R. Holding
2,2499719,1,6.542188,1609,3319,53.55,17.00,36.75,19.72,177959173.0,1,0,1,2,pass,success,head,M. Özil
3,2499719,1,8.143395,1609,120339,36.75,19.72,43.05,3.40,177959174.0,1,0,1,3,pass,success,head,Mohamed Elneny
4,2499719,1,10.302366,1609,167145,43.05,3.40,75.60,8.16,177959175.0,0,0,1,4,pass,success,foot,Bellerín
5,2499719,1,12.548934,1609,3319,75.60,8.16,80.85,17.00,177959177.0,0,0,0,5,pass,fail,foot,M. Özil
6,2499719,1,13.961228,1631,8653,24.15,51.00,40.95,57.80,177959186.0,1,0,1,6,pass,success,head,H. Maguire
7,2499719,1,15.320341,1609,167145,70.35,13.60,70.35,13.60,177959178.0,0,10,1,7,interception,success,foot,Bellerín
8,2499719,1,15.320341,1609,167145,70.35,13.60,61.95,26.52,177959178.0,1,0,1,8,pass,success,head,Bellerín
9,2499719,1,18.051875,1609,49876,61.95,26.52,47.25,37.40,177959179.0,1,0,1,9,pass,success,head,G. Xhaka

In [5]:
df = pd.DataFrame()

for country in ["England", "Spain", "Italy", "France", "Germany"]:
    c_df = pd.read_csv(f"{PATH}{country}.csv", index_col=0)
    df = pd.concat([df, c_df])

df.head()

,game_id,period_id,time_seconds,team_id,player_id,start_x,start_y,end_x,end_y,original_event_id,bodypart_id,type_id,result_id,action_id,type_name,result_name,bodypart_name,player_name
0,2499719,1,2.758649,1609,25413,51.45,34.68,32.55,14.96,177959171.0,0,0,1,0,pass,success,foot,A. Lacazette
1,2499719,1,4.946850,1609,370224,32.55,14.96,53.55,17.00,177959172.0,0,0,1,1,pass,success,foot,R. Holding
2,2499719,1,6.542188,1609,3319,53.55,17.00,36.75,19.72,177959173.0,1,0,1,2,pass,success,head,M. Özil
3,2499719,1,8.143395,1609,120339,36.75,19.72,43.05,3.40,177959174.0,1,0,1,3,pass,success,head,Mohamed Elneny
4,2499719,1,10.302366,1609,167145,43.05,3.40,75.60,8.16,177959175.0,0,0,1,4,pass,success,foot,Bellerín

In [6]:
sorted_df = (
    df.groupby(["game_id", "period_id"])
    .apply(lambda x: x.sort_values(by="time_seconds"))
    .reset_index(drop=True)
)

/tmp/ipykernel_809211/2646718250.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sort_values(by="time_seconds"))

In [7]:
type_id_list = (
    sorted_df.groupby(["game_id", "period_id"])["type_id"].apply(list).reset_index(name="type_id_list")
)
type_id_list

      game_id  period_id                                       type_id_list
0     2499719          1  [0, 0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 21, 0, 0, 0...
1     2499719          2  [0, 0, 10, 0, 0, 2, 0, 0, 0, 0, 0, 0, 10, 18, ...
2     2499720          1  [0, 0, 0, 0, 0, 0, 0, 0, 18, 2, 0, 10, 0, 9, 0...
3     2499720          2  [0, 0, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 22, 18, ...
4     2499721          1  [0, 0, 10, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 21, 0...
...       ...        ...                                                ...
3647  2576336          2  [0, 0, 0, 21, 0, 0, 0, 0, 0, 0, 0, 21, 0, 8, 4...
3648  2576337          1  [0, 0, 0, 8, 4, 18, 2, 0, 0, 0, 0, 11, 10, 5, ...
3649  2576337          2  [0, 0, 0, 0, 0, 21, 0, 4, 0, 21, 0, 0, 10, 21,...
3650  2576338          1  [0, 0, 0, 2, 0, 0, 1, 0, 0, 0, 8, 4, 0, 0, 2, ...
3651  2576338          2  [0, 0, 10, 0, 21, 0, 0, 0, 0, 21, 0, 0, 0, 0, ...

[3652 rows x 3 columns]

In [8]:
# sequencias de jogadas de todos os jogos
# a ideia é filtrar depois para sequencias que precedem um gol
sequences = type_id_list["type_id_list"].to_list()
len(sequences)

3652

In [9]:
from prefixspan import PrefixSpan

ps = PrefixSpan(sequences)

with open("saida1.txt", "w") as f:
    print(ps.topk(5))

[(3652, [0]), (3652, [0, 0]), (3652, [0, 0, 0]), (3652, [0, 0, 0, 0]), (3652, [0, 0, 0, 0, 0])]

In [10]:
grouped = sorted_df.groupby(["game_id", "period_id"])

result_list = []

# Iterate over each group
for (game_id, period_id), group in grouped:
    # Sort the group by time_seconds
    group = group.sort_values(by="time_seconds")

    # Find rows where type_name is 'shot' and result_name is 'success'
    success_shots = group[
        (group["type_name"] == "shot") & (group["result_name"] == "success")
    ]

    for idx, success_row in success_shots.iterrows():
        # Find rows of the same team before the successful shot
        team_id = success_row["team_id"]
        time_seconds = success_row["time_seconds"]

        prior_events = group[group["time_seconds"] <= time_seconds][::-1]

        type_ids = []
        for _, event in prior_events.iterrows():
            if event["team_id"] != team_id:
                break
            type_ids.append(
                event["type_id"]
            )  # Filter rows of the same team before the successful shot
        prior_events = group[
            (group["team_id"] == team_id) & (group["time_seconds"] < time_seconds)
        ]

        # Extract the type_ids
        type_ids = prior_events["type_id"].tolist()
        result_list.append(type_ids)

In [11]:
result_list[:5]

[[0, 0, 0, 0, 0, 0, 10, 0, 0, 0, 21, 0, 0, 0, 0, 21, 7, 4, 0, 0, 0, 0, 1],
 [0,
  0,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  9,
  8,
  10,
  2,
  11,
  8,
  10,
  0,
  21,
  1,
  1,
  0,
  6,
  0,
  1,
  0],
 [0,
  0,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  9,
  8,
  10,
  2,
  11,
  8,
  10,
  0,
  21,
  1,
  1,
  0,
  6,
  0,
  1,
  0,
  11,
  0,
  0,
  21,
  0,
  0,
  0,
  2,
  0,
  10,
  0,
  0,
  0,
  0,
  22,
  2,
  0,
  1,
  0,
  7,
  0,
  0,
  10,
  18,
  0,
  2,
  0,
  22,
  0,
  0,
  0,
  0,
  0,
  7,
  4,
  21,
  1,
  0,
  21,
  1,
  2,
  21,
  1,
  10,
  18,
  0,
  0,
  9,
  14,
  0,
  0,
  18,
  4,
  2,
  7,
  0,
  0,
  8,
  18,
  22,
  0,
  0,
  10,
  0,
  4,
  0,
  8,
  0,
  10,
  10,
  0,
  10,
  0,
  10,
  0,
  21,
  7,
  4,
  0,
  0,
  0,
  4,
  8,
  0,
  0,
  10,
  10,
  0,
  18,
  14,
  10,
  18,
  22,
  0,
  21,
  0,
  0,
  2,
  0,
  0,
  21,
  0,
  0,
  0,
  0,
  0,
  21,
  1],
 [0,
  0,
  0,
  0,
  0,
  0,
  10,
  0,
  0,
  0,
  21,
  0,
  0,
  0,
  0,
  21,
  7,
  4,
  0,
  0,
  0,
  0,
  1,
  11,
  0,
  18,
  22,
  0,
  4,
  0,
  0,
  10,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  7,
  21,
  11,
  18,
  10,
  18,
  22,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  5,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  8,
  10,
  18,
  0,
  0,
  7,
  21,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  0,
  11,
  0,
  21,
  2,
  0,
  0,
  0,
  18,
  0,
  2,
  4,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  10,
  4,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  0,
  0,
  21,
  1,
  8,
  2,
  0,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  7,
  4,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  21,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  11,
  0,
  0,
  11,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  0,
  7,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  8,
  4,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  7,
  0,
  0,
  11,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  0,
  11,
  6,
  11,
  10,
  0,
  0,
  0,
  10,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  0,
  0,
  0,
  21,
  1,
  2,
  0,
  2,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  10,
  0,
  2,
  10,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  10,
  0,
  0,
  21,
  0,
  22,
  0,
  0,
  0,
  0,
  21,
  0,
  4,
  0,
  10,
  0,
  0,
  7,
  10,
  18,
  0,
  4,
  0,
  22,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  0,
  0,
  4,
  11,
  0,
  2,
  0,
  0,
  0,
  21,
  0,
  21,
  0,
  10,
  18,
  18,
  0,
  0,
  21,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  6,
  0,
  0,
  1,
  21,
  1,
  6,
  0,
  0,
  0,
  21,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  18,
  10,
  18,
  10,
  18,
  0,
  18,
  10,
  0,
  4,
  0,
  0,
  0,
  0,
  21,
  0,
  9,
  4,
  0,
  0,
  0,
  0,
  0,
  21,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  11,
  0],
 [0,
  0,
  2,
  0,
  0,
  0,
  0,
  2,
  0,
  0,
  10,
  0,
  21,
  0,
  10,
  2,
  21,
  0,
  10,
  0,
  22,
  4,
  0,
  0,
  0,
  0,
  21,
  0,
  0,
  1,
  10,
  0,
  1,
  11,
  7,
  0,
  2,
  10,
  0,
  21,
  0,
  0,
  2,
  2,
  0,
  10,
  4,
  2,
  0,
  7,
  0,
  1,
  11,
  5]]

In [12]:
ps = PrefixSpan(result_list)

with open("saida1.txt", "w") as f:
    print(ps.topk(20))

[(4270, [0]), (4267, [0, 0]), (4253, [0, 0, 0]), (4250, [0, 0, 0, 0]), (4241, [0, 0, 0, 0, 0]), (4231, [0, 0, 0, 0, 0, 0]), (4221, [0, 0, 0, 0, 0, 0, 0]), (4203, [0, 0, 0, 0, 0, 0, 0, 0]), (4195, [21]), (4193, [0, 21]), (4190, [0, 0, 0, 0, 0, 0, 0, 0, 0]), (4189, [0, 0, 21]), (4179, [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]), (4177, [0, 0, 0, 21]), (4175, [21, 0]), (4172, [0, 21, 0]), (4167, [0, 0, 21, 0]), (4166, [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]), (4165, [0, 0, 0, 0, 21]), (4158, [0, 0, 0, 21, 0])]

In [13]:
df

,game_id,period_id,time_seconds,team_id,player_id,start_x,start_y,end_x,end_y,original_event_id,bodypart_id,type_id,result_id,action_id,type_name,result_name,bodypart_name,player_name
0,2499719,1,2.758649,1609,25413,51.45,34.68,32.55,14.96,177959171.0,0,0,1,0,pass,success,foot,A. Lacazette
1,2499719,1,4.946850,1609,370224,32.55,14.96,53.55,17.00,177959172.0,0,0,1,1,pass,success,foot,R. Holding
2,2499719,1,6.542188,1609,3319,53.55,17.00,36.75,19.72,177959173.0,1,0,1,2,pass,success,head,M. Özil
3,2499719,1,8.143395,1609,120339,36.75,19.72,43.05,3.40,177959174.0,1,0,1,3,pass,success,head,Mohamed Elneny
4,2499719,1,10.302366,1609,167145,43.05,3.40,75.60,8.16,177959175.0,0,0,1,4,pass,success,foot,Bellerín
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389146,2517044,2,2817.761761,2463,94831,87.15,36.72,87.15,36.72,251206865.0,5,11,0,1148,shot,fail,foot_right,Y. Ōsako
389147,2517044,2,2818.280436,2451,14917,17.85,31.96,23.10,27.20,251206783.0,0,10,1,1149,interception,success,foot,R. Knoche
389148,2517044,2,2823.180681,2451,14804,23.10,27.20,0.00,3.40,NaN,0,21,1,1150,dribble,success,foot,J. Błaszczykowski
389149,2517044,2,2828.080925,2451,14804,0.00,3.40,5.25,4.76,251206790.0,0,0,0,1151,pass,fail,foot,J. Błaszczykowski
389150,2517044,2,2829.509819,2463,15317,99.75,63.24,105.00,0.00,251206869.0,0,10,1,1152,interception,success,foot,L. Bittencourt